.ProfileCard{
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);
    padding-bottom: 1rem;
}

.ProfileImages{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImages > img {
    width: 100%;
}

.image-cropper {
  width: 12rem;
  height: 12rem;
  position: relative;
  top: -50px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic {
  max-width: 20rem;
  position: relative;
  left: -4rem;
  box-shadow: var(--profileShadow);
}

.ProfileName{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem
}

.ProfileName>span:nth-of-type(1)
{
    text-align: center;
}

/* Follow Status */
.followStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
  }
  
  .followStatus > hr {
    width: 85%;
    border: 1px solid var(--hrColor);
  }
  
  .followStatus > div {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid var(--hrColor);
    border-bottom: 1px solid var(--hrColor);
  }
  
  .follow {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
  }
  .follow > span:nth-of-type(1) {
    font-weight: bold;
  }
  
  .follow > span:nth-of-type(2) {
    color: var(--gray);
    font-size: 13px;
  }
  


  .ProfileCard>span{
      font-weight: bold;
      align-self: center;
      margin-bottom: 1rem;
      cursor: pointer;
  }

  .nav-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}